<div {{ content.styles.column_attr.addClass('col-md-12') }}>
  <div {{ content.styles.title_wrap_attr.addClass('quemeaspen') }}>
    <{{ content.styles.title_wrapper }} {{ content.styles.title_attr }}>
      {{ content.general.title }}
    </{{ content.styles.title_wrapper }}>
  </div>
  {% if content.content %}
  <div class="lc-inline_column-content">
    {{ content.content }}
  </div>
  {% endif %}
</div>
